*.bin
.idea
.idea/*
.idea/**
.gradle
.gitignore
gradlew
gradlew.bat
**/gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.pem
*.iml
*.dex
*.MF
*.class
bin/
gen/
/*/build/
/*/out/
proguard/
*.log
*.epoch
*.lck

atomikos-*/

/**/rebel.xml
/user/

checkout.cmd
*.hprof

**/application-dev*.yml

**/logback.xml

/**/build/

/**/out/
/**/testdata/
